<div id="contenedor5" class="flex-container">
<div class="row">
    <div class="col">
    <footer>
        <div>
            <h1  class="contacto" id="link6">Contacto</h1>
        </div>
        <br>
        <br>
        <h3 class="titulo">¿Querés hacerme una consulta? 
                             Contáctame y charlamos.<br>
        Mandame un correo o WhatsApp y te responderé a la brevedad.</h3>
        <br>
        <br>
        <br>
        <div class="final">
        <i id="telefono" class="bi bi-telephone-fill">263-4478070</i><i class="bi bi-whatsapp" style="color:green"></i><br>
        <i id="correo" class="bi bi-envelope-fill">karimganimi22@gmail.com</i>
        <p>Carim Ganimi | © Argentina Programa 2022</p>
        <p>Mendoza, Argentina.</p><br><br><br>
        </div>
         </footer>
</div>
</div>
</div>
