
#contenedor1 {
    margin-bottom: 10px;
    background-color: rgb(42, 42, 206);
    border-end-end-radius: 30px;
   }
@media(max-width: 600px){
    #contenedor1{
        width:550px;
    }
}

 #AP{
    width: 120px;
    
}


a:hover {
    background-color: rgb(133, 206, 235);
    cursor:pointer;
}



a {

    padding: 10px;
    margin-left: 20px;
    font-family: 'Lobster', cursive;
    color:aliceblue;
    font-size: 20px;
    
}

#bot1{
    margin-right: 30px;
}



