<div id="contenedor1" class="container-fluid">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <ul class="nav flex-column">
              <li id="titulo1" class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home"><img src="../../../assets/Logo_CG.png" width="150px" />{{miPorfolio.barra1}}</a>
              </li>
              <li id="titulos" class="nav-item">
                <a class="nav-link" href="#link1">{{miPorfolio.barra2}}</a>
              </li>
              <li id="titulos" class="nav-item">
                <a class="nav-link" href="#link2">{{miPorfolio.barra3}}</a>
              </li>
              <li id="titulos" class="nav-item">
                  <a class="nav-link" href="#link3">{{miPorfolio.barra4}}</a>
                </li>
                <li id="titulos" class="nav-item">
                  <a class="nav-link" href="#link4">{{miPorfolio.barra5}}</a>
                </li>  
                <li id="titulos" class="nav-item">
                  <a class="nav-link" href="#link5">{{miPorfolio.barra6}}</a>
                </li> 
                <li id="titulos" class="nav-item">
                  <a class="nav-link" href="#link6">{{miPorfolio.barra7}}</a>
                </li> 
              
            </ul>
        
          </div>
        </div>
        
  </div>
  
 
  