<div id="contenedor1" class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <ul class="nav flex-column">
                <li id="titulo1" class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#home"><img src="../../../assets/Logo_CG.png" width="150px" />Diseñador Web</a>
                </li>
                <li id="titulos" class="nav-item">
                  <a class="nav-link" href="#link1">Acerca de...</a>
                </li>
                <li id="titulos" class="nav-item">
                  <a class="nav-link" href="#link2">Educación</a>
                </li>
                <li id="titulos" class="nav-item">
                    <a class="nav-link" href="#link3">Experiencia</a>
                  </li>
                  <li id="titulos" class="nav-item">
                    <a class="nav-link" href="#link4">Mis habilidades</a>
                  </li>  
                  <li id="titulos" class="nav-item">
                    <a class="nav-link" href="#link5">Proyectos</a>
                  </li> 
                  <li id="titulos" class="nav-item">
                    <a class="nav-link" href="#link6">Contacto</a>
                  </li> 
                
              </ul>
          
            </div>
        
        </div>
    </div>