<div  class="container-fluid">
  <div class="row">
  <div class="col">
  <br/>
  <br/>
  <div>
    <img id="banner" src="../../../assets/programando.jpg" class="img-fluid"/>
    <img  id="foto" [src]="miPorfolio.Imagen" class="img-fluid"  width="250px"/>
  </div>
  <div id="link1">
    <h1 id="Saludo">¡HOLA SOY {{miPorfolio.nombre}}!</h1>
    <h2 id="desarrollador">{{miPorfolio.titulo}}</h2>
    <p id="descripcion">{{miPorfolio.desc1}} <br>
     {{miPorfolio.desc2}} <br>
     {{miPorfolio.desc3}}<br>
     {{miPorfolio.desc4}}<br>
     {{miPorfolio.desc5}}</p>
    </div>
    <hr id="linea">

</div>
</div>
</div>








