<div id="contenedor2" class="container-fluid">
  <div class="row">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-12 col-xl-12 col-xxl-12">

  <div class="encabezado" id="home"><a target="_blank" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img src="../../../assets/Logo AP.png" height="80px" /></a>
    <button id="bot1" type="button" class="btn btn-outline-primary"><img src="../../../assets/login_icon_183916.png" width="50px" height="50px"/></button>
  
    <br />
    
<img class="banner" src="../../../assets/programando.jpg"/>
<img id="link1" class="foto" [src]="miPorfolio.Imagen"  width="250px"/>

<h1 id="Saludo">¡HOLA SOY {{miPorfolio.nombre}}!</h1>
<h2 id="desarrollador">{{miPorfolio.titulo}}</h2>
<p id="descripcion">Soy un Desarrollador dinámico, creo, diseño y actualizo Sitios Web, <br>
    cuento con diversas habilidades en Desarrollo Web, tanto del lado <br>
    del servidor (Back-end), como tambien en el lado del cliente (Front-end),<br>
    Me considero una persona bien organizada, solucionador de problemas,<br>
    y con gran atención a los detalles.
</p>
<br/>










<button id="bot2" type="button" class="btn btn-outline-primary"><img src="../../../assets/edit_11200.png" width="50px" height="50px"/></button>
<button id="bot3" type="button" class="btn btn-outline-primary"><img src="../../../assets/edit_11200.png" width="50px" height="50px"/></button>

<hr id="linea">



<ul *ngFor="let futbol of equipos">
  <li>{{futbol}}</li>
</ul>
<h3>Tu equipo preferido es: {{ingreso}} </h3>
<input type="text" [(ngModel)]="ingreso"/>


</div>
</div>
</div>
</div>
