<div id="contenedor2" class="container-fluid">
  <div class="row">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-12 col-xl-12 col-xxl-12">

  <div class="encabezado" id="home"><a target="_blank" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"><img src="../../../assets/Logo AP.png" height="80px" /></a> 
  
    <br />

<img class="banner" src="../../../assets/programando.jpg"/>
<img id="link1" class="foto" src="../../../assets/Foto.PNG"  width="250px"/>
<h1 id="Saludo">¡HOLA SOY CARIM GANIMI!</h1>
<h2 id="desarrollador">Desarrollador Web Full Stack Jr.</h2>
<p id="descripcion">Soy un Desarrollador dinámico, creo, diseño y actualizo Sitios Web, <br>
    cuento con diversas habilidades en Desarrollo Web, tanto del lado <br>
    del servidor (Back-end), como tambien en el lado del cliente (Front-end),<br>
    Me considero una persona bien organizada, solucionador de problemas,<br>
    y con gran atención a los detalles.
</p>
<input id="edit-descripcion" type="text">
<hr id="linea">



</div>
</div>
</div>
</div>