<div id="contenedor3" class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

     <div>
    <h1  class="educacion" id="link2">Educación</h1>
    <h3 class="escuela">{{miPorfolio.estudios1}} <button id="bot1" type="button" class="btn btn-outline-primary">Edit</button></h3>
    <h3 class="escuela2">{{miPorfolio.estudios2}}</h3>
    <br />
    
    <p class="titulo_secundario">{{miPorfolio.estudios3}} <button id="bot1" type="button" class="btn btn-outline-primary">Edit</button> <br /> 
       {{miPorfolio.estudios4}}.</p>
    
    <br />
    <h3 class="instituto">{{miPorfolio.inst}}</h3>
    <br />
    <span><p class="titulo_instituto">{{miPorfolio.inst2}}</p></span>
    <br />
    <h3 class="argentina"><img [src]="miPorfolio.arg" height="120px" /></h3>
    <br />
    <span><p class="titulo_argentina">{{miPorfolio.tituloArg}}</p></span>
    <br />
</div>
</div>
</div>
</div>