.IS {
    background-image: url(../../../assets/matrix.jpg);
}

.formSesion{
    
    position:relative;
    margin-left:400px;
    margin-right: 20px;
    width:50%;
    top:50px;
    bottom: 50px;
    border: 2px darkblue;
}

#in{
    display:flexbox;
    background-color: black;
    background-repeat:repeat-y;
}