<div id="contenedor5" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      
      <div>
        <hr id="linea2"><br />
        <h1 class="proyectos" id="link5">Proyectos</h1>
      </div>
      <br>
      <br>
      <div>
        <p class="pagina1">Página Web de empresa textil.
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="miPorfolio.proyecto1" class="img-fluid" class="d-block w-100" alt="imagen pagina web">
            </div>
            <div class="carousel-item">
              <img [src]="miPorfolio.proyecto2" class="img-fluid" class="d-block w-100" alt="imagen pagina web">
            </div>
            <div class="carousel-item">
              <img [src]="miPorfolio.proyecto3" class="img-fluid" class="d-block w-100" alt="imagen pagina web">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <br>
          <br>
          <br>
          <br>
        </div>


        <div class="proy2">
          <img [src]="miPorfolio.proyecto4" class="img-fluid" width="50%">
          <p class="pagina1">Aplicación lista de tareas.</p>
        </div>

        <div class="proy2">
          <br>
          <br>
          <br>
          <img [src]="miPorfolio.proyecto5" class="img-fluid" width="50%">
          <p class="pagina1">Proyecto Juego con JAVASCRIPT.<br>
            <span style=color:red>(En construcción)</span>
          </p>
          <br/>
          <br/>
          <br/>
        </div>
        
        <div>
         
          <p class="pagina1">Porfolio Web Personal.
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img [src]="miPorfolio.proyecto6" class="img-fluid" class="d-block w-100" alt="imagen portfolio">
            </div>
            <div class="carousel-item">
              <img [src]="miPorfolio.proyecto7" class="img-fluid" class="d-block w-100" alt="imagen portfolio">
            </div>
            <div class="carousel-item">
              <img [src]="miPorfolio.proyecto8" class="img-fluid" class="d-block w-100" alt="imagen portfolio">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>





      </div>
    </div>
    <br>
    <br>
    <br>
    <hr style=color:aliceblue>
  </div>