#contenedor4 {
    width: 80%;
    background-color: rgb(10, 9, 10);
    position: relative;
    display: inline;
    padding: 10px;
    float: right;
}

#linea2 {
    color: #ccc;
    position: relative;


}

.experiencia {
    text-align:justify;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-left:30px;
    position: relative;
    color:aqua;
}

table {
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 20px;
}












