<div id="contenedor4" class="container-fluid">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-12 col-xl-12 col-xxl-12">
        <div>
            <hr id="linea2"><br />
            <h1  class="experiencia" id="link3">Experiencia</h1>
        </div>
        <br/>
        <br/>
        <table>
            
            <tr>
                <th>* Revolution Games</th>
                <th class="filas">(Mantenimiento de Computadoras)</th>
            </tr>
            <tr>
                <th>* Aprendamos a Vivir</th>
                <th class="filas">(Administrativo)</th>
            </tr>
            <tr>
                <th>* D&C Confección y Diseño</th>
                <th class="filas">(Diseño gráfico)</th>
            </tr>
        </table>

        
    </div>
</div>
</div>